body {
  background-color: #fff;
  font-family: "Space Mono", monospace;
  font-size: 13px;
  font-weight: 400;
  height: 100vh;
  padding: 0;
  margin: 0;
  width: 100vw;
}
.only-block {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  width: 100%;
}
.only-img {
  display: block;
  width: 300px;
}
.only-link {
  color: #0c0c0c;
  margin-top: 10px;
  text-decoration: none;
}
@supports (-webkit-touch-callout: none) {
  body {
    height: 100dvh;
    width: 100dvw;
  }
}